<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">  
    <link rel="stylesheet" href="css/bootstrap.css"  type="text/css"/>
    <link rel="stylesheet" href="css/style.css"  type="text/css"/>
  </head>

  <body>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/bootstrap.js"></script>


		<div class="container">
			<div class="row">
  				<div class="col-md-5">

  					<%= yield %> 
    				<p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
    				<p>-Charles 'Chuck' Colson</p>
    				</div>

    			<div class="col-md-5">
  					<h3><strong>Column 2</strong></h3>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum sed diam eu accumsan. Integer porta risus enim, at bibendum metus sollicitudin in. Integer in convallis metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In consectetur mattis magna, vel suscipit magna pulvinar nec. Vivamus volutpat rhoncus justo, sit amet fringilla magna venenatis et. Vivamus vel magna libero. Maecenas egestas tempus molestie. Aliquam erat volutpat. Nulla hendrerit tempor suscipit. Donec viverra nibh non fringilla pellentesque. Nulla facilisi. Maecenas aliquam velit odio, sit amet pretium nisi mollis nec.

            Vivamus auctor justo sit amet ligula posuere dignissim. Donec eget felis vitae mi eleifend tempor. Donec quis tellus at nulla lobortis placerat sit amet eget nunc. Phasellus convallis et erat vel scelerisque. Maecenas sodales ante lacus, at iaculis mauris condimentum luctus. Praesent efficitur erat sed nisi placerat fringilla. Nunc ut sollicitudin augue, sed eleifend felis.</p>
    				<p>-Charles 'Chuck' Colson</p>
    				</div>



    	</div>
  </body>
</html>